@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #b3b3b3;
}

#column-3 {
  background: #8c8c8c;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #e6ffff;
  }

  #column-1 {
    background-color: #b3ffff;
  }

  #column-2 {
    background-color: #80ffff;
  }

  #column-3 {
    background-color: #4dffff;
  }

  footer {
    background-color: #00e6e6;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #e6faff;
  }

  #column-1 {
    background-color: #b3f0ff;
  }

  #column-2 {
    background-color: #80e5ff;
  }

  #column-3 {
    background-color: #4ddbff;
  }

  footer {
    background-color: #00ccff;
  }

}
